<h1>I tuoi pronostici per la giornata sono stati:</h1>
<ul>
<% @giocate.each do |f| %>
	
		<li>
			<div class="partita span-9">
				<%=h f.game.home_team.sponsor %> - <%=h f.game.away_team.sponsor %>
			</div>
			<div class="scommessa span-3 last">
				<%= f.bid %>
			</div>
		</li>	
	
<%end%>
</ul>